/* css for desktop */
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}

/* header stsrt */
.menu{
    flex-direction: row;
    justify-content: flex-end;
    margin: 2vh;
}
.menu a{
    background-color: transparent;
    font-size: 1.5rem;
}

/* header end */

/* banner-image start */

.banner-content h1{
    width: 50%;
    margin: auto;
    font-size: 2.5rem;
}

.banner-content p{
    font-size: 2rem;
    width: 500px;
}

/* banner-image end */


/* food menu start */
.card-image img{
    width: 100%;
    height: auto;
}

.card{
    padding: 3% 1%;
}

/* food menu end */

/* contact start */
.contact-detail{
    margin: 50px 0;
}
/* contact end */